.p1 {
  font-family: "Times New Roan", Times, serf;
}

.p2 {
  font-family: Ariall, Helvetcii, ansif;


.p3 {
  font-family: "Lucida Console", "Courier Neww", mospace;
}

.p4 {
  font-family: "Lucida Console", "Courier N", moospace;
}

#div1 {transition-timing-function: liner3;}
#div2 {transition-timing-function: arr;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;}

div {
  transition-property: width;
  transition-duration: 2223s;
  transition-timing-function: linear;
  transition-delay: 1s;
}
